{% extends 'base.html' %}
{% load static %}


{% block title %}
    List of Authors
{% endblock title %}

{% block content %}
    {% for author in authors %}
        <h2>{{ author.last_name }}, {{ author.first_name }}</h2>
        <h3>Recipe</h3>
        <ul>
            {% for recipe in author.recipes.all %}
            <li>{{ recipe.title }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock content %}
