{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ recipe_object.title }} recipe
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href={% url "recipe_list" %}> Main Page </a>
            <a href={% url "edit_recipe" recipe_object.id %}> Edit This Recipe</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user_logout' %}"> Log out </a>
            {% else %}
                <a href="{% url 'signup' %}"> Sign up </a>
                <a href="{% url 'user_login' %}"> Login </a>
            {% endif %}
        </nav>
    </header>

    <main>
        <h1> {{ recipe_object.title}} Recipe</h1>
        <div>
            <img src="{{ recipe_object.picture }}">
            <div>10/10 stars</div>
            <p>{{ recipe_object.description }}</p>
        </div>

        <h2>Ingredients: </h2>
        <table>
            <thead>
                <tr>
                    <th> Amount </th>
                    <th> Food Item </th>
                </tr>
            </thead>
            <tbody>
                {% for item in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.food_item }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Instructions: </h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li> {{ step.instruction }} </li>
            {% endfor %}

            {% if not recipe_object.steps %}
                There is no instructions right now
            {% endif %}
        </ol>
    </main>
{% endblock content %}
