{% extends 'base.html' %}
{% load static %}


{% block title %}
    Create {{ post.title }}
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href={% url "recipe_list" %}> Main Page </a>

            {% if user.is_authenticated %}
                <a href="{% url 'user_logout' %}"> Log out </a>
            {% else %}
                <a href="{% url 'signup' %}"> Sign up </a>
                <a href="{% url 'user_login' %}"> Login </a>
            {% endif %}
        </nav>
    </header>

    <main>
        <h1>Edit {{ post_object.title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ post_form.as_p }}
            <button>Edit</button>
        </form>
    </main>
{% endblock content %}
