{% extends 'base.html' %}
{% load static %}


{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href={% url "recipe_list" %}> Main Page </a>
        <a href={% url 'create_recipe' %}>Create Recipe</a>
        <a href="{% url 'my_recipe_list' %}">My recipes</a>


        {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{% url 'user_logout' %}"> Log out </a>
        {% else %}
            <a href="{% url 'signup' %}"> Sign up </a>
            <a href="{% url 'user_login' %}"> Login </a>
        {% endif %}

    </nav>
</header>

<main>
    <h1> Scrumptious Food Recipes </h1>

    <div class="recipe-grid">
        {% for recipe in recipe_list %}
        <div>
          <h3>
            <a href={% url "show_recipe" recipe.id %}>{{ recipe.title }}</a>
          </h3>
          <img src="{{ recipe.picture }}">
          <div>4.3 stars</div>
          <p>{{ recipe.created_on| date:"j F Y" }}</p>
        </div>
        {% endfor %}
    </div>

    {% if blog_post.is_published %}
        <h1>{{ blog_post.title }}</h1>
    {% endif %}


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>


    <h3>Got recipes you want to share?</h3>
    <button>Contact Us!</button>
</main>
{% endblock content %}
