{% extends 'base.html' %}

{% block title %}
Sign Up! - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
  <nav>
      <a href={% url "recipe_list" %}> Main Page </a>
      <a href={% url 'create_recipe' %}>Create Recipe</a>
      <a href="{% url 'my_recipe_list' %}">My recipes</a>


      {% if user.is_authenticated %}
          Hello, {{ user.username }}
          <a href="{% url 'user_logout' %}"> Log out </a>
      {% else %}
          <a href="{% url 'signup' %}"> Sign up </a>
          <a href="{% url 'user_login' %}"> Login </a>
      {% endif %}

  </nav>
</header>

<main>
  <h1>Sign up!</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Sign up</button>
  </form>
</main>
{% endblock content %}
