
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

img {
    height: 100px;
    width: 100px;
    box-shadow: 16px -16px grey;
    transition: box-shadow .5s;
}

img:hover{
    box-shadow: 16px -16px magenta;
}

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: white;
    background: rgb(27, 27, 27);
    padding: 0px;
    margin: 0px;
}

header {
    color: aliceblue;
    background-color: grey;
    text-align: center;
}

main {
    padding: 16px;
}

footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    background-color: grey;
    padding: 24px 0px;
    border: 1px solid white;
    font-size: 40px;
}

h1 {
    color:white
}

/* h2 {
    padding: 20px;
} */


a{
    color: rgb(80, 80, 156);
    text-decoration: none;
}

a:hover {
    scale: 1.1;
    color: purple;
}

/* a:visited {
    color: rgb(188, 38, 188);
} */

nav {
    padding: 16px;
    border: 1px solid white;
    border-bottom: 1px solid #042940;
    background-color: grey;
}

ul{
    display: inline-block;
    list-style: none;
    padding: none;
    margin: none;
}


table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

h1 + p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5px;
}

li:first-child{
    color: purple;
}

li:last-child {
    color: green;
}

tr:nth-child(odd) {
    background-color: rgb(84, 84, 84);
}

main:not(div) p {
    padding: 50px;
}

div h2 {
    border-top: 2px solid white;
}


.recipe_grid {
    display: grid;
    grid-template-columns: 1px 1px 1px 1px 1px 1px ;
    grid-template-rows: 1px 1px 1px 1px 1px 1px;
}
